/* logo css */
#logo {
  animation: rotation 2s infinite linear;
}

#logo img {
  width: 80%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* logo css end */

/* navbar css */

#navbar {
  background: #111111;
}

.nav-link {
  color: #d1d1d1;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
  font-weight: 500;
}

.rockstarlogo {
  display: none;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  /* font-family: monospace; */
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

/* Smooth transition for the navbar collapse */
.navbar-collapse {
  transition: max-height 0.8s ease-in-out, opacity 0.7s ease-in-out;
  max-height: 0;
}

.navbar-collapse.show {
  max-height: 500px;
  opacity: 1;
}

.navbar-collapse:not(.show) {
  max-height: 20px;
  opacity: 1;
}

/* navbar css end */

/* heading css */

.heading{
background: linear-gradient(#272727 , #131313);
color: #fff;
width: 40%;
padding: 40px;
position: absolute;
bottom: 70px;
right: 50px;
}

.heading h1{
  font-weight: 900;
}

.heading p{
color: #ccc;
}

/* heading css end */

/* Responsive css */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    background: #6c3262;
    padding: 1px;
    visibility: hidden;
    transition: 0.3s ease-out;
  }

  .nav-link:hover::before {
    width: 100%;
    visibility: visible;
    border-radius: 5px;
  }
}


@media (max-width: 921px){
  .heading{
    bottom: 10px;
    padding: 15px;
  }

}


@media (max-width: 768px) {

  #logo {
    display: none;
  }

  .rockstarlogo {
    display: block;
  }

  .heading{
  position: static;
  width: 100%;
  padding: 20px;
    }
}
